/* gallery */

position: relative;
width: 1440px;
height: 792px;

background: #FFFFFF;


/* section 3 */

position: absolute;
width: 1128px;
height: 200px;
left: 156px;
top: 556px;



/* card 1 */

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 556px;



/* picture 1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 556px;

background: url(domingo-alvarez-e-Niv2v0idsv0-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 156px;
top: 708px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 417px;
top: 712px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 417px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 432px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 313px;
top: 712px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 313px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 338px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 238px;
top: 712px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 242px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 238px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 176px;
top: 712px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 176px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 180px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 2 */

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 556px;



/* picture 2 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 556px;

background: url(christopher-gower-vjMgqUkS8q8-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 540px;
top: 708px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 801px;
top: 712px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 801px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 816px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 697px;
top: 712px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 697px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 722px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 622px;
top: 712px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 626px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 622px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 560px;
top: 712px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 560px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 564px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 3 */

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 556px;



/* picture 3 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 556px;

background: url(yibei-geng--UdYbiywGeg-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 924px;
top: 708px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 1185px;
top: 712px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 1185px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 1200px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 1081px;
top: 712px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 1081px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 1106px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 1006px;
top: 712px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 1010px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 1006px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 944px;
top: 712px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 944px;
top: 712px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 948px;
top: 728px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* section 2 */

position: absolute;
width: 1128px;
height: 200px;
left: 156px;
top: 332px;



/* card 1 */

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 332px;



/* picture 1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 332px;

background: url(nastuh-abootalebi-eHD8Y1Znfpk-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 156px;
top: 484px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 417px;
top: 488px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 417px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 432px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 313px;
top: 488px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 313px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 338px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 238px;
top: 488px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 242px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 238px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 176px;
top: 488px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 176px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 180px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 2 */

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 332px;



/* picture 2 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 332px;

background: url(slidebean-TpGIpUF67po-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 540px;
top: 484px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 801px;
top: 488px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 801px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 816px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 697px;
top: 488px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 697px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 722px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 622px;
top: 488px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 626px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 622px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 560px;
top: 488px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 560px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 564px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 3 */

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 332px;



/* picture 3 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 332px;

background: url(alex-kotliarskyi-QBpZGqEMsKg-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 924px;
top: 484px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 1185px;
top: 488px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 1185px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 1200px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 1081px;
top: 488px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 1081px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 1106px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 1006px;
top: 488px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 1010px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 1006px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 944px;
top: 488px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 944px;
top: 488px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 948px;
top: 504px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* section 1 */

position: absolute;
width: 1128px;
height: 200px;
left: 156px;
top: 108px;



/* card 1 */

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 108px;



/* picture 1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 156px;
top: 108px;

background: url(ux-indonesia-qC2n6RQU4Vw-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 156px;
top: 260px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 417px;
top: 264px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 417px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 432px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 313px;
top: 264px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 313px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 338px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 238px;
top: 264px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 242px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 238px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 176px;
top: 264px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 176px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 180px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 2 */

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 108px;



/* picture 2 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 540px;
top: 108px;

background: url(diego-ph-fIq0tET6llw-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 540px;
top: 260px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 801px;
top: 264px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 801px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 816px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 697px;
top: 264px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 697px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 722px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 622px;
top: 264px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 626px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 622px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 560px;
top: 264px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 560px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 564px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* card 3 */

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 108px;



/* picture 3 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 200px;
left: 924px;
top: 108px;

background: url(ben-kolde-Ajcipx1VDXI-unsplash);
border: 1px solid #808080;


/* Rectangle 11 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 48px;
left: 924px;
top: 260px;

background: #FFFFFF;
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #808080;


/* downloads */

position: absolute;
width: 74px;
height: 40px;
left: 1185px;
top: 264px;



/* Downloads */

position: absolute;
width: 74px;
height: 16px;
left: 1185px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 610937 */

position: absolute;
width: 43px;
height: 24px;
left: 1200px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* comments */

position: absolute;
width: 72px;
height: 40px;
left: 1081px;
top: 264px;



/* Comments */

position: absolute;
width: 72px;
height: 16px;
left: 1081px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 229 */

position: absolute;
width: 22px;
height: 24px;
left: 1106px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* views */

position: absolute;
width: 48px;
height: 40px;
left: 1006px;
top: 264px;



/* Views */

position: absolute;
width: 39px;
height: 16px;
left: 1010px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 900290 */

position: absolute;
width: 48px;
height: 24px;
left: 1006px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* likes */

position: absolute;
width: 34px;
height: 40px;
left: 944px;
top: 264px;



/* Likes */

position: absolute;
width: 34px;
height: 16px;
left: 944px;
top: 264px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;

color: #2E2F42;



/* 1813 */

position: absolute;
width: 25px;
height: 24px;
left: 948px;
top: 280px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */
letter-spacing: 0.04em;

color: #2E2F42;



/* search */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 371px;
height: 40px;
left: calc(50% - 371px/2 - 0.5px);
top: 36px;



/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 272px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1 */

width: 272px;
height: 40px;

background: #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 8 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px solid #808080;
border-radius: 4px;


/* Search images... */

position: absolute;
left: 5.88%;
right: 43.38%;
top: 20%;
bottom: 20%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.04em;

color: #808080;



/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 91px;
height: 40px;

background: #4E75FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Search */

width: 59px;
height: 24px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.04em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;